<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="loginform" action="{:url('save')}">
        <label style="color: white">员工ID</label>
        <input type="text" name="adminname" class="form-control" placeholder="员工ID" id="adminname"/>
        <label style="color: white">密码</label>
        <input type="password" name="password" class="form-control" placeholder="密码" id="adminpasswd"/>
        <input type="submit" value="add"/>
</form>
</body>
</html>