<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

    <title>Super Admin Responsive Template</title>
    <!-- CSS -->
    <link href="__STATIC__/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/animate.min.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/form.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/calendar.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/style.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/icons.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/generics.css" rel="stylesheet"> 
</head>
<body id="skin-blur-violate">

    {include file="public:header"/}

    <div class="clearfix"></div>

    <section id="main" class="p-relative" role="main">

        {include file="public:sidebar"/}
        
        <!-- Content -->
        <section id="content" class="container">

            <h4 class="page-title">状态</h4>

            <!-- Shortcuts -->
            <div class="block-area shortcut-area">
                <div class="shortcut tile">
                    <img id="line_img" src="__STATIC__/assets/img/shortcuts/notonline.png" alt="">
                    <small id="line_msg" class="t-overflow">离线</small>
                </div>
                <div class="shortcut tile">
                    <img id="battery_img" src="__STATIC__/assets/img/shortcuts/battery.png" alt="">
                    <small id="battery_msg" class="t-overflow">电量</small>
                </div>
                <div class="shortcut tile">
                    <img id="meditation_img" src="__STATIC__/assets/img/shortcuts/nerve.png" alt="">
                    <small id="meditation_msg" class="t-overflow">精神状态</small>
                </div>
            </div>


            <!-- Quick Stats -->

            <hr class="whiter" />

            <div class="block-area">
                <div class="row">
                    <div class="col-md-8">
                        <!-- Main Chart -->
                        <div class="tile">
                            <h2 class="tile-title">脉搏状况</h2>
                            <div>
                                <canvas id="bpmChart" style="height: 200px;width: 700px"></canvas>
                            </div>
                        </div>



                        <div class="clearfix"></div>
                    </div>

                    
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <!-- Dynamic Chart -->
                        <div class="tile">
                            <h2 class="tile-title">车速</h2>
                            <div>
                                <canvas id="speedChart" style="height: 200px;width: 700px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Javascript Libraries -->
<!-- jQuery -->
{include file="public:footer"/}
<script type="text/javascript">
    function UpdateStatus(vid){
        $.getJSON(
            "{:url('getStatus')}",{"vid":"asdsdcz1314123ac"},function(json){
                // alert(json.online);
                if(json.online==true){
                    $("#line_img").attr("src","__STATIC__/assets/img/shortcuts/online.png");
                    $("#line_msg").html("在线");
                    $('#meditation_img').attr("src","__STATIC__/assets/img/shortcuts/nerveon.png");
                    $('#meditation_msg').html(json.meditation);
                }else{
                    $("#line_img").attr("src","__STATIC__/assets/img/shortcuts/notonline.png");
                    $("#line_msg").html("离线");
                    $('#meditation_img').attr("src","__STATIC__/assets/img/shortcuts/nerve.png");
                    $('#meditation_msg').html("精神状态");
                }
                // alert(json.battery);
                $("#battery_msg").html("电量:"+json.battery+"%");
            }
        );
    }

    var ctx = document.getElementById("bpmChart");
    var bpmLabel= [,,,,,,,,,,,,,,,,,,, ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,];
    var bpmValue=[];
    var bpmChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: bpmLabel,
            datasets: [{
                label: '脉搏',
                data: bpmValue,
                backgroundColor:'rgba(255, 99, 132, 0.2)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            elements: {
                line: {
                    tension: 0, 
                }
            }
        }
    });

    var ctx = document.getElementById("speedChart");
    var speedLabel= [,,,,,,,,,,,,,,,,,,, ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,];
    var speedValue=[];
    var speedChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: speedLabel,
            datasets: [{
                label: '车速',
                data: speedValue,
                backgroundColor:'rgba(135, 206, 255, 0.2)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            elements: {
                line: {
                    tension: 0, 
                }
            }
        }
    });

    function UpdateChart(vid){
        $.ajax({
            type:"get",
            url:"{:url('getLog')}",
            data:{vid:'asdsdcz1314123ac'},
            dataType:"json",
            success:function(result){
                $.each(result,function(i,item){
                    // alert(item.bpm);
                    bpmValue[i]=item.bpm;
                    speedValue[i]=item.speed;
                });
                bpmValue.reverse();
                speedValue.reverse();
                bpmChart.update();
                speedChart.update();
            },
            error: function (xml,status,thrown) {  
                alert("请求数据失败!");  
                bpmChart.hideLoading();  
                speedChart.hideLoading();  
            }  
        });
    }

    function InsertData(){
        $.getJSON(
            "{:url('insertData')}",function(json){
                
            }
        );
    }

    $(document).ready(function(){
        setInterval("UpdateChart()",1000);
        setInterval("UpdateStatus()",1000);
        // setInterval("InsertData()",1000);
    });
</script>
</body>
</html>
