<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

    <title>Super Admin Responsive Template</title>

    <!-- CSS -->
    <link href="__STATIC__/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/animate.min.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/form.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/calendar.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/media-player.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/style.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/icons.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/generics.css" rel="stylesheet"> 
</head>
<body id="skin-blur-violate">

    {include file="public:header"/}   

    <div class="clearfix"></div>

    <section id="main" class="p-relative" role="main">

        {include file="public:sidebar"/}

        <!-- Content -->
        <section id="content" class="container">

            <h4 class="page-title">设备管理</h4>
            
            <!-- Table Striped -->
            <div class="block-area" id="tableStriped">

                <div class="tile" style="margin-bottom: 2px">
                    <h2 class="tile-title">关联列表</h2>
                    <div class="tile-config dropdown">
                        <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="Options"></a>
                        <ul class="dropdown-menu pull-right text-right">
                            <li><a data-toggle="modal" href="#modalDefault">添加关联</a></li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="tile table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>设备号</th>
                                <th>设备名称</th>
                                <th>出厂日期</th>
                                <th>激活日期</th>
                                <th>绑定时间</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="devices" id="dev"}
                            <tr class="tr{$dev.id} <?php if($dev['track']==1) echo ' selected'; ?>">
                                <td>{$dev.vid}</td>
                                <td>{$dev.vname}</td>
                                <td>{$dev.pdate}</td>
                                <td>{$dev.rdate}</td>
                                <td>{$dev.linkdate}</td>
                                <td>
                                    <div class="btn-group m-b-10">
                                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                            Action
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{:url('device_link/delete',['vid'=>$dev.vid])}" onClick="return confirm('确认删除？')">Delete</a>
                                            </li>
                                            <li>
                                                <a href="#" onclick="setTrack('{$dev.vid}','{$dev.id}')">Track</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <br/><br/>
    </section>
    <!-- Modal Default -->  
    <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">新增设备关联</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="{:url('add')}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="inputUser" class="col-md-2 control-label">设备号:  </label>
                            <div  class="col-md-6">
                              <input type="text" class="form-control" id="inputUser" placeholder="设备号" name="vid"> 
                          </div>
                      </div>

                      <div class="modal-footer">
                        <button type="submit" class="btn btn-sm">提交</button>
                        <button type="reset" class="btn btn-sm">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{include file="public:footer"/}
<script type="text/javascript">
    function setTrack(vid,id){
        $.ajax({
            type:"get",
            url:"{:url('track')}",
            data:{vid:vid},
            dataType:"json",
            success:function(result){
                $("tr").removeClass("selected");
                $(".tr"+id).addClass("selected");
            }
        });
    }
</script>
</body>
</html>

