            <!-- Sidebar -->
            <aside id="sidebar">
                
                <!-- Sidbar Widgets -->
                <div class="side-widgets overflow">
                    <!-- Profile Menu -->
                    <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
                        <a href="" data-toggle="dropdown">
                            <img id="sidebar-userpic" class="profile-pic animated" src="__STATIC__/userpic/{$pic}" alt="">
                        </a>
                        <ul class="dropdown-menu profile-menu">
                            {neq name=":request()->controller()" value="Settings"}
                                <li><a href="{:url('settings/index')}">用户设置</a> <i class="icon left"><i class="fa fa-gears"></i></i></li>
                            {/neq}
                        </ul>
                        <h4 id="sidebar-username" class="m-0">{$uname}</h4>
                    </div>
                    <!-- Calendar -->
                    <div class="s-widget m-b-25">
                        <div id="sidebar-calendar"></div>
                    </div>
                    
                    <!-- Feeds -->
                    <div class="s-widget m-b-25">                        
                        <div class="s-widget-body">
                            <div id="news-feed"></div>
                        </div>
                    </div>
                    
                </div>
                
                <!-- Side Menu -->
                <ul class="list-unstyled side-menu">
                    <li class="<?php if(request()->controller()=='Index') echo 'active'; ?>">
                        <a class="sa-side-home" href="{:url('index/index')}">
                            <span class="menu-item">主页</span>
                        </a>
                    </li>
                    <li class="<?php if(request()->controller()=='DeviceLink') echo 'active'; ?>">
                        <a class="sa-side-widget" href="{:url('device_link/index')}">
                            <span class="menu-item">设备管理</span>
                        </a>
                    </li>
                    <li class="dropdown <?php if(request()->controller()=='Data') echo 'active'; ?>">
                        <a class="sa-side-chart" href="#">
                            <span class="menu-item">数据</span>
                        </a>
                        <ul class="list-unstyled menu-item">
                            <li><a href="{:url('data/historypath')}">历史轨迹</a></li>
                            <li><a href="{:url('data/historydata')}">历史数据</a></li>
                            <li><a href="{:url('data/realposition')}">实时地图</a></li>
                        </ul>
                    </li>
                    <li class="<?php if(request()->controller()=='Shortcut') echo 'active'; ?>">
                        <a class="sa-side-table" href="{:url('shortcut/index')}">
                            <span class="menu-item">管理快照</span>
                        </a>
                    </li>
                    <li class="<?php if(request()->controller()=='Repair') echo 'active'; ?>">
                        <a class="sa-side-form" href="{:url('repair/index')}">
                            <span class="menu-item">报修</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="sa-side-ui" onclick="logout()">
                            <span class="menu-item">注销</span>
                        </a>
                    </li>
                </ul>
            </aside>
            <script>
                function logout()
                {
                    $.ajax({
                        type:"post",
                        url:"{:url('index/index/logout')}",
                        data:null,
                        processData:false,
                        contentType:false,
                        success: function (result)
                        {
                            window.location.href="{:url('user/login/index')}";
                        },
                        error : function()
                        {
                            alert("网络异常！");
                        }
                    })
                }
            </script>