<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <title>TGAM轮椅管理系统</title>

    <!-- CSS -->
    <link href="__STATIC__/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/404/css/style.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/generics.css" rel="stylesheet">
</head>
<body id="skin-blur-violate">
<section id="error-page" class="tile">
    <h1 class="m-b-10">错误 404</h1>
    <p>此链接已失效，或者丢失</p>
    <a class="underline" href="{:url('user/Login/index')}">回到登录页面</a>
</section>

</body>
</html>