<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TGAM轮椅后台管理登陆</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="__STATIC__/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/assets/css/form-elements.css">
    <link rel="stylesheet" href="__STATIC__/admin/login/assets/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="__STATIC__/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__STATIC__/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__STATIC__/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__STATIC__/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body style="background: grey">

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">TGAM轮椅管理后台登录</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    </div>
</nav>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>你好！管理员，请输入你的员工ID</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>登录</h3>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-sign-in"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form id="loginform">
                            <div class="form-group">
                                <label style="color: white">员工ID</label>
                                <input type="text" name="adminname" class="form-control" placeholder="员工ID" id="adminname"/>
                            </div>
                            <div class="form-group">
                                <label style="color: white">密码</label>
                                <input type="password" name="password" class="form-control" placeholder="密码" id="adminpasswd"/>
                            </div>
                            <div class="form-group">
                                <label style="color: white">验证码(<a href="#" onclick="getElementById('captchaImg').src=getElementById('captchaImg').src+'?'">点击刷新</a>)</label>
                                <input type="text" name="captcha" class="form-control" placeholder="验证码" id="captcha"/>
                            </div>
                            <div class="form-group">
                                <img id="captchaImg" src="{:captcha_src()}" alt="captcha">
                            </div>
                            <input type="button" value="登录" onclick="commit();" style="width: 100%;background: #0e90d2;color: white;border: 0px;border-radius: 3px"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="__STATIC__/assets/js/LoginCGI/jquery-1.11.1.min.js"></script>
<script src="__STATIC__/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/assets/js/LoginCGI/retina-1.1.0.min.js"></script>
<script src="__STATIC__/admin/login/assets/js/scripts.js"></script>
<script src="__STATIC__/assets/js/md5.js"></script>
<script>
    function commit()
    {
        var formdata=new FormData(document.getElementById("loginform"));
        formdata.set("password",hex_md5(formdata.get("password")));
      $.ajax({
          type:"post",
          url:"{:url('logincheck')}",
          data:formdata,
          processData:false,
          contentType:false,
          success: function (result)
          {
              // console.log(result);//打印服务端返回的数据(调试用)
              var data=$.parseJSON(result);
              var status=parseInt(data.status);
              document.getElementById('captchaImg').src=document.getElementById('captchaImg').src+'?';
              if(status === 1)
              {
                  window.location.href="{:url('index/index')}";
              }
              else if(status === 2)
              {
                  $("#captcha").css("border","2px solid red");
              }
              else
              {
                  $("#adminname").css("border","2px solid red");
                  $("#adminpasswd").css("border","2px solid red");
              }

          },
          error : function()
          {
              alert("网络异常！");
          }
      });
    }
</script>
<!--[if lt IE 10]>
<script src="__STATIC__/assets/js/LoginCGI/placeholder.js"></script>
<![endif]-->

</body>

</html>